<div>
    <div id="navbar-main" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
                </button>
                <a class="navbar-brand hidden-xs hidden-sm" href="#clubs">
                    <span class="icon icon-shield" style="font-size:18px; color:#3498db;">
                    </span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#clubs" class="smoothScroll">Clubs</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#new/player"  class="smoothScroll">Create new player</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <br><br><br><br>
</div>